<% include ../_layouts/adminheader %>

<h2 class="page-title">Add a page</h2>

<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form action="/admin/pages/add-page" method="POST">
<div class="form-group">
<label for="">Title</label>
<input type="text" class="form-control" placeholder="title" name="title" value="<%= title %>">
</div>
<div class="form-group">
<label for="">Slug</label>
<input type="text" class="form-control" placeholder="slug" name="slug" value="<%= slug %>">
</div>
<div class="form-group">
<label for="">Content</label>
<textarea name="content" class="form-control" id="ta" placeholder="Content" cols="30" rows="10"><%= content %></textarea>
</div>
<button class="btn btn-default">Submit</button>
</form>

<% include ../_layouts/adminfooter %>
